body {
  font: normal medium/1.4 sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:hover {
  background: yellow;
}

.button1 {
  background-color: palegreen; /* Green */
  border: 2px solid #4CAF50;
  color: black;
  padding-left: 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 1px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 80px;
  border-radius: 15px;
}

.button1:hover {
  background-color: #4CAF50; 
  color: white; 
  border: 2px solid #4CAF50;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2 {
  background-color: palevioletred; /* Red */
  border: 2px solid #f44336;
  color: white;
  text-align: left;
  padding-left: 9px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 1px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 80px;
  border-radius: 15px;
}

.button2:hover {
  background-color: #f44336; 
  color: black; 
  border: 2px solid #f44336;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.admin_form_input {

 
}


.admin_form_button {

  padding-bottom: 30px;
  border: none;
  background-color: #3f73a2;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 1vw;
}


@media screen and (max-width: 1280px) {


}

@media screen and (max-width: 760px) {


}