.cider {
  margin: 1rem;
  padding: 1rem;
  background-color: #335c7c;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
  height: 650px;
  width: auto;
}

.cider h2 {
  font-size: 2.2rem;
  color: #222222;
}

.cider h3 {
  color: #f0e6da;
  margin: 0;
  font-size: 1.5rem;
}

.imageSize {
  max-height: 400px;
  width: auto;
  max-width: 250px;
}

