.cider {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  padding: 1rem;
  background-color: none;
  text-align: center;
  color: #222222;
  height: 550px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5vh;
}

.cider h2 {
  font-size: 2.2rem;
  color: #222222;
}

.cider h3 {
  color: #3f73a2;
  margin: 0;
  font-size: 1.5rem;
}

.imageSize {
  max-height: 400px;
  width: auto;
  max-width: 250px;
}





/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width:480px)  {

  .cider{

    height: 300px;
  }

  .cider h2 {
    font-size: 1.5rem;

  }

  .cider h3 {
    margin: 0;
    font-size: 1rem;
  }

  .imageSize {
    max-height: 50%;
    width: auto;
    max-width: 150px;
  }
  .cider, .p{
    font-size: .5rem
  }

}


/* max device 768px ) */
@media (max-width: 768px) {
.cider{

  margin-top: -1%;
}
}
 /* Stashed changes */
