/* ABOUT US CONTENT */
.AboutUs {
  background-color: #f0e6da;
}

/*  SECTION 1 */
.cider_element {
  background-color: #f0e6da;
  height: 20rem;
}

/* button */
.about_btn {
  display: inline-flex;
}

.about_btn {
  background-color: #f0e6da;
  color: black;
  display: block;
  font-weight: 600;
  margin-left: 10%;
  margin-top: -17%;
  width: 19%;
  width: max-content;
}

.about_btn:hover,
.about_btn:active {
  background: #f0e6da;
  border-color: #0d273e;
  color: #494848;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1);
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
  padding: 0.2rem 1rem;
}

/* Hero about image */
.about_img {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
  justify-content: space-between;
  margin: auto;
}

.tear_upwards,
.tear_upward_img {
  width: 100%;
  margin-top: 8%;
}

/* hero h1 & sub heading */
.about_us_h1 {
  text-align: left;
  margin: auto;
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 10%;
  color: #3f73a2;
  margin-top: 8%;
  padding-top: 5%;
}

.sub_heading,
.about_us_p {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  width: 30%;
  margin-left: 10%;
  font-weight: bold;
}

.about_img .splash1 {
  width: 100%;
  z-index: -1;
  margin-top: 7%;
}

.about_img .about_splash1 {
  width: 100%;
  z-index: -1;
  margin-top: 7%;
}

.about_section {
  width: 100%;
  background-color: #232323;
}

.about_tear_image,
.about_tear_image > * {
  width: 100%;
  margin: 0;
}

.about_tear_image img {
  display: block;
}

.about3_inner {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 2em;
  align-items: flex-start;
  max-width: 65rem;
  width: calc(100% - 4em);
  margin: auto;
}

@media screen and (max-width: 768px) {
  .about3_inner {
    grid-template-columns: minmax(0, 1fr);
  }
}

.tear2 {
  width: 100%;
  margin-top: -20%;
  z-index: 4;
}

.about_tear2 {
  width: 100%;
  margin-top: -20%;
  z-index: 4;
}

.heading2 {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  color: #f0e6da;
  z-index: 4;
  width: 100%;
  margin-left: 51%;
  font-size: 3rem;
}

.about_heading2 {
  color: #f0e6da;
  font-size: 3rem;
  margin-top: 0;
}

.pigstail_text {
  color: #f0e6da;
  font-size: 16px;
  margin-left: 10%;
  margin-top: 10%;
  font-weight: 400;
}

.about_pigstail_text {
  color: #f0e6da;
  text-align: left;
}

.pg1,
.pg2 {
  width: 78%;
  padding-top: 2rem;
}

.about_img4 {
  width: 100%;
}

.about_img2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.about_img3 {
  object-fit: contain;
}
.about_img3 img {
  width: 100%;
  height: auto;
}
/* MEDIA QUERIES */

@media screen and (max-width: 1680px) {
  .about_pigstail_text {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1400px) {
  .about_pigstail_text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1080px) {
  .about_pigstail_text {
    font-size: 1.5rem;
  }
  .pg1,
  .pg2 {
    width: 78%;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .about_img3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin: auto;
  }
}

@media screen and (min-width: 769px) {
  .about_img3 img + img {
    margin-top: 1em;
  }
}

.about1 {
  margin-top: 5%;
  padding-bottom: 5vh;
  width: 80%;
}

.about2 {
  margin-top: 6%;
  width: 80%;
}

.tear3 {
  width: 100%;
  margin-top: -9%;
  z-index: 4;
}

.about_tear3 {
  width: 100%;
  margin-top: -9%;
  z-index: 4;
}

/* SECTION 5 */

.heading3 {
  width: 100%;
}

.tear5 {
  display: flex;
  width: 100%;
  z-index: 5;
  margin-top: -10%;
}

.about_tear5 {
  display: flex;
  width: 100%;
  z-index: 5;
  margin-top: -10%;
}

.about5 {
  position: relative;
  width: 100%;
  z-index: -1;
  margin-top: -10%;
}

.About_us_6 {
  background-color: #f0e6da;
  padding-bottom: 6em;
}

.About_us_6 > div {
  padding: 0 2em;
}

.about_bottomh2 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 0 auto 1em;
}

@media screen and (max-width: 450px) {
  .about_bottomh2 {
    font-size: 2.4rem;
  }
}

.about_p6_1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  font-weight: 600;
  margin-top: -2%;
  font-size: 1rem;
}

.about_p6_2 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  font-weight: 600;
  margin-top: 0.5%;
  font-size: 1rem;
}

.bottom_p_1 {
  width: 30%;
}

.bottom_p_2 {
  width: 30%;
}

.bottom_p_3 {
  width: 30%;
}

.about_s1,
.about_s2,
.about_s3 {
  font-size: 1.4rem;
}

.icons_text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  padding: 10px -1rem 0 2rem;
  font-size: smaller;
  margin-left: 10%;
  text-align: center;
}

.about_icons_text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2em;
  width: 100%;
  max-width: 65rem;
  margin: 2em auto;
  padding: 0 2em;
  text-align: center;
}

.about_icons_text > div {
  object-fit: contain;
}

.about_icons_text img {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.icon1,
.icon2,
.icon3 {
  height: 50%;
  width: 50%;
  display: flex;
}

.block1,
.block2,
.block3 {
  display: flex;
  justify-content: center;
  width: 72%;
  margin-left: -9%;
  font-weight: 400;
}
