/* .darkblue {
  background-color: #335c7c;
} */
.darkgrey {
  background-color: #0d273e;
}

.grey {
  background-color: #222222;
}

.lightblue {
  background-color: #3f73a2;
  width: 100%;
  justify-content: center;
}

@font-face {
  font-family: dirtyFont;
  /*  src: url(https://www.dafont.com/dirty-headline.font); */
  src: url("./fonts/DirtyHeadline.ttf");
}

/* HOME CONTENT  */

/* home button btn1 */

Button,
.btn1 {
  margin-left: 27%;
  margin-top: 5%;
  font-size: 0.75rem;
  color: #fff;
  width: 100px;
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
}

Button,
.btn1:hover,
Button,
.btn1:active {
  background: #3f73a2;
  border-color: #0d273e;
  color: #fdfafa;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1);
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
  padding: 0.2rem 1rem;
  width: 100px;
}

Button,
.btn2 {
  font: inherit;
  border: 1px solid #0d273e;
  background: #3f73a2;
  color: white;
  box-shadow: 0 2 12px rgba(0, 0, 0, 0.26);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  justify-items: center;
  margin: auto;
}

.btn2:hover,
.btn2:active {
  background: #3f73a2;
  border-color: #0d273e;
  color: #494848;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1);
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
  padding: 0.2rem 1rem;
}

.heading {
  text-align: center;
  display: block;
  margin-top: 15vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 80vw;
  line-height: 57px;
  font-feature-settings: 16px;
  font-kerning: 16px;
  font-size: 6.5rem;
  color: #f0e6da;
  transform: rotate(350deg);
  animation: Home_Home_slide-in-left__2Sl1V__3jkS9 4s ease infinite;
}

@keyframes bounce-in-right {
  from {
    margin-left: 0px;
  }

  50% {
    margin-left: 100px;
  }
}

/* HERO IMAGE - BOTTLE */
.bottle_size {
  display: flex;
  float: right;
  margin-top: -18%;
  margin-right: 14%;
  height: 50vh;
  animation: Home_bounce-in-right__2IhGI 4s ease infinite;
}

@keyframes bounce-in-right {
  from {
    margin-right: 0px;
  }

  50% {
    margin-right: 100px;
  }
}

.cider_element {
  background: #3f73a2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 500px;
  width: 100%;
}

.tear_bottom {
  margin-top: -35%;
  height: 100px;
  width: 100%;
  margin-bottom: -3%;
  z-index: 3;
}

.tear_top {
  height: 100px;
  width: 100%;
  z-index: 3;
}

.torn_banner {
  margin-top: -1.5vh;
  width: 100%;
  z-index: 1;
}

.torn_banner2 {
  width: 100%;
  z-index: 1;
}

.cider_element,
.button {
  margin-top: 20%;
  display: block;
}

/* STATIC PAGE - ABOUT US */
.carosel_cider {
  background-color: #f0e6da;
  margin-top: 0;
}

.cream {
  background-color: #f0e6da;
  width: 100%;
  height: 21rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: -10%;
  margin: 0;
  justify-content: center;
}

.cream_h2,
.home_cream_h2 {
  font-size: 4rem;
  width: 193%;
  margin-top: 3%;
  margin: auto;
  text-align: center;
}

.border {
  border: 10px inset #0d273e;
}

.internal {
  margin: 10px;
}

.links {
  text-align: center;
  font-family: dirtyFont, cursive;
  text-shadow: #0d273e;
  font-size: 1.5rem;
  color: #222222;
  margin-top: -3%;
}

.cream_p {
  width: 100%;
  font-weight: 800;
  font-style: bold;
  text-align: center;
  font-size: 1.2rem;
  margin-top: -2%;

}

.values {
  height: 40%;
  z-index: 1;
}

.disc {
  background-color: #3f73a2;
  justify-content: space-between;
  padding: 1.9rem 2.5rem;
  border-radius: 59px;
  font-size: 1.5em;
  font-weight: 700;
}

.disc_title {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  margin-left: 2%;
  width: 100%;
  font-weight: 600;
  text-align: center;
  margin-top: 1%;
}

.title {
  letter-spacing: 4px;
}

/* STATIC PAGE- SPLASH */
.farmRip {
  width: 100%;
}

/* STATIC SECTION drinks */
.cream1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  height: 300px;
  background-color: #f0e6da;
}

.heading2 {
  font-size: 4rem;
  margin-top: 17px;
}

.home_merch_h2 {
  color: #f0e6da;
  font-size: 4rem;
  margin-top: 21vh;
  text-align: center;
  padding-top: 5vh;
}

.home_merch_h3 {
  color: black;
  font-size: 2rem;
  margin-top: 8vh;
  text-align: center;
}

.home_merch_h4 {
  color: black;
  font-size: 1.5rem;
  margin-top: 2vh;
  text-align: center;
}

.home_merch_h6 {
  color: black;
  font-size: 1.1rem;
  margin-top: 10px;
  text-align: center;
}

.heading3,
.home_h2 {
  text-align: right;
  margin-top: 1%;
  font-size: 4rem;
  margin-bottom: 10px;
}

.form_input {

  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding-bottom: 10px;
  border: none;
  background-color: #fff;
  color: #335c7c;
  font-weight: 500;
  border-radius: 5px;
  width: 30vw;
  margin-top: 10px;
  margin-left: 35vw;
  padding-top: 10px;
}


.form_register_button {

  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding-bottom: 20px;
  border: none;
  background-color: #335c7c;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  width: 30vw;
  margin-left: 35vw;
  margin-top: 10px;
}

.form_login_button {

  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding-bottom: 15px;
  border: none;
  background-color: #0d273e;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  width: 30vw;
  margin-left: 35vw;
  margin-top: 10px;
}



@media screen and (max-width: 1680px) {

  .heading {
    font-size: 5.5rem;
    width: 100%;
    text-align: center;
  }

}


@media screen and (max-width: 1400px) {

  .heading {
    font-size: 4.5rem;
    width: 100%;
  }

  .form_input {
    width: 40vw;
    margin-left: 30vw;
  }

  .form_register_button {
    width: 40vw;
    margin-left: 30vw;
  }

  .form_login_button {
    width: 40vw;
    margin-left: 30vw;
  }
}

@media screen and (max-width: 1080px) {

  .heading {
    font-size: 4rem;
  }

  .heading2 {
    font-size: 3.5rem;
    margin-top: 17px;
  }

  .form_input {
    width: 50vw;
    margin-left: 25vw;
  }

  .form_register_button {
    width: 50vw;
    margin-left: 25vw;
  }

  .form_login_button {
    width: 50vw;
    margin-left: 25vw;
  }
}

@media screen and (max-width: 760px) {

  .heading {
    font-size: 2rem;
    padding-top: 8vh;
  }

  .heading2 {
    font-size: 2.5rem;
    margin-top: 17px;
  }

  .home_merch_h2 {
    font-size: 2.8rem;
    padding-top: 1vh;
  }

  .home_merch_h3 {
    font-size: 1.4rem;
    margin-top: 4vh;
  }

  .home_merch_h6 {
    font-size: 0.8rem;
  }

  .values {
    height: 28%;
  }

  .form_input {
    width: 80vw;
    margin-left: 10vw;
  }

  .form_register_button {
    width: 80vw;
    margin-left: 10vw;
  }

  .form_login_button {
    width: 80vw;
    margin-left: 10vw;
  }
}

@media screen and (max-width: 320px) {
  .home_merch_h3{
    text-align: center;
    font-size: 1.2rem;
    margin-left: 5%;
    padding-left: 1rem;
    padding-right: 1.2rem;
}
}
