/* .darkblue {
  background-color: #335c7c;
} */
.darkgrey {
  background-color: #0d273e;
}
.grey {
  background-color: #222222;
}
.lightblue {
  background-color: #3f73a2;
  width: 100vw;
  padding: 0;
  height: 76vh;
  justify-content: center;
  position: relative;
  top: -22rem;

}
@font-face {
  font-family: dirtyFont;
  /*  src: url(https://www.dafont.com/dirty-headline.font); */
  src: url("./fonts/DirtyHeadline.ttf");
}
/*
.main{
  display: grid;
  grid-template-columns: repeat(auto-fit minmax(200px, 1fr));
} */

.container fluid{
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
}

.home_page{
  padding: 0!important;
  background-color:#f0e6da;
}

/* HOME CONTENT  */

/* home button btn1 */
/* Button,
.btn1 {
  margin-left: 27%;
  margin-top: 5%;
  font-size: 0.75rem;
  color: #fff;
  width: 100px;
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
}

Button,
.btn1:hover,
Button,
.btn1:active {
  background: #3f73a2;
  border-color: #0d273e;
  color: #fdfafa;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1);
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
  padding: 0.2rem 1rem;
  width: 100px;
}

Button,
.btn2 {
  font: inherit;
  border: 1px solid #0d273e;
  background: #3f73a2;
  color: white;
  box-shadow: 0 2 12px rgba(0, 0, 0, 0.26);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  justify-items: center;
  margin: auto;
}
.btn2:hover,
.btn2:active {
  background: #3f73a2;
  border-color: #0d273e;
  color: #494848;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1);
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
  padding: 0.2rem 1rem;
} */
.container-fluid{
  width: 100vw;
}

.col{
  gap: .5rem;

}
.heading {
  display: block;
  position: relative;
  text-align: left;
  left: 12rem;
  top: 6rem;
  width: 21rem;
  line-height: 4rem;
  font-feature-settings: 16px;
  font-kerning: 16px;
  font-size: 4rem;
  color: #f0e6da;
  transform: rotate(
350deg
);
  animation: Home_Home_slide-in-left__djP6H__7UTLD 4s ease infinite;
}
@keyframes bounce-in-right {
  from {
    margin-left: 0px;
  }
  50% {
    margin-left: 100px;
  }
}
/* HERO IMAGE - BOTTLE */
.bottle_size {
  display: flex;
  float: right;
  position: relative;
  bottom: 3rem;

  width: 34vw;
  left: 24rem;
  bottom: -3rem;
  animation: Home_bounce-in-right__oq0th 4s ease;
}
@keyframes bounce-in-right {
  from {
    margin-right: 0px;
  }
  50% {
    margin-right: 100px;
  }
}

.cider_element {
  background: #3f73a2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 600px;
  width: 100vw;
  height: 77vh;
}
.tear_top {
  position: relative;
  top: 4rem;
  width: 100vw;
  height: 20vh;
  z-index: 4;

  width: 100vw;
  z-index: 4;
}

.tear_bottom {
  position: relative;
  top: -4rem;
  height: 11rem;
  width: 100vw;
}
.tear_bottom2 {
  position: relative;
    top: -10rem;
    height: 10rem;
    width: 100vw;
}

.torn_banner {
  position: relative;
    top: 0rem;
    z-index: 0;
    width: 100vw;
    height: 75vh;
}
/*
.button {
  margin-top: 20%;
  display: block;
} */

/* STATIC PAGE - ABOUT US */
.carosel_cider {
  background-color: #f0e6da;
  margin-top: 0;
  position: relative;
  top: -25rem;
  width: 100vw;
}
.cream {
  background-color: #f0e6da;
  width: 100vw;
  height: 13rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: -10%;
  margin: 0;
  position: relative;
  justify-content: center;
  bottom: -1rem;
}

/* .cream_h2, */
.home_cream_h2 {
  font-size: 4rem;
  position: relative;
  text-align: center;
  left: 7rem;
  top: -1rem;
}

.values{
  width: 50vw;
  height: 20vh;
  position: relative;
  top: -2rem;
}
.links {
  font-family: dirtyFont, cursive;
  font-size: 1.5rem;
  position: relative;
  top: 4rem;
  right: 16rem;
  color: #212529;
}
.links1 {
  font-family: dirtyFont, cursive;
  font-size: 1.5rem;
  position: relative;
  top: 1.5rem;
  left: 23rem;
  justify-content: center;
  text-align: center;
  color: #222222;
}

.home_merch_h2 {
  color: #f0e6da;
  font-size: 4rem;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  top: 2rem;
}
.cream_p {
  width: 100%;
  font-weight: 800;
  font-style: bold;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  top: -2rem;
}


.title {
  letter-spacing: 4px;
}

/* STATIC PAGE- SPLASH */
.farmRip {
  width: 100%;
}

/* STATIC SECTION drinks */
.cream1 {
  background-color: #f0e6da;
  width: 100vw;
  position: relative;
  top: -13rem;
  height: 21rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: -10%;
  margin: 0;
  justify-content: center;
  margin-top: -1rem;
}
.heading2 {
  font-size: 4rem;
    position: relative;
    top: -1rem;
    margin-bottom: 13px;
}

.heading3,
.home_h2 {
  text-align: right;
  margin-top: 1%;
  font-size: 4rem;
  margin-bottom: 10px;
}
/*
MEDIA QUERIES
*/

/* X Large screens */
@media (min-width:1024px){

  .torn_banner{

    height: 100%;
  }
  .values{
    width: 100%;
    z-index: 6;
    top: 4%;
  }
  .tear_bottom2{

  }
  .tear_bottom{
    top: -4rem;
  }
  .links1{
    left: 33%;
  }
}

@media (max-width:1024px){

  .tear_top {
    top: 4rem;
  }
  .Home_tear_bottom{
    top: 6rem;
  }
  .links1{
left: 15rem;
  }

  }


  @media (max-width:960px){

    /* .col{
      width: 100vw;
    } */
    .bottle_size{
      left: 12rem;
    }
    .tear_bottom{
      top: 2rem;
    }
    .links1{
      left: 33%;
    }
    .values{
      width: 75%;
      margin: 0;
      height: 15vh;
      left: 12%;
    }
    .home_cream_h2{
      left: 9rem;
    }
  }
  @media (max-width:768px){
    .heading{
      width: 60%;
      left: 2rem;
      font-size: 3.5rem;
      line-height: 61px;
    }
    .bottle_size{
      left: -3rem;
      /* width: 35%; */
    }
    .tear_bottom{
      top: 0rem;
    }
  }

  @media (max-width: 460px){
.heading{
    left: 3rem;
    font-size: 2.5rem;
  }
  .bottle_size{
    width: 50%;
    top: -1rem;
    margin-right: -2rem;
  }
  .cider_element{
    height: 50vh;
  }
.home_cream_h2{
  left: 0;
  font-size: 3rem;
  width: 70%;
}
.home_merch_h2{
font-size: 2rem;
}
  .tear_bottom{
    top: -4rem;
    height: 20%;
  }
  .heading2{
    text-align: center;
  }
  .values{
    width: 300px;
    height: 94%;
    top: -1rem;
    left: 17%;
    z-index: 2;
  }
  .values{
    left: 2rem;
    width: 80%;
  }
  .tear_top{
    z-index: 1;
  }
  .home_cream_h2{
    left: 0;
  }
  .links1{
    left: 76px;
  }
  }
  @media (max-width: 320px){

    .tear_bottom{
    top: -1rem;
    }

    .torn_banner{
      height: 60vh;
    }

    .home_cream_h2{
      font-size: 2.5rem;
      top: 5rem;
    }
    .cream1{
      height: 51vh;
    }
    .links{
      left: 0rem;
      font-size: 1rem;
      top: -2rem;
      width: 77%;
      text-align: center;
      z-index: 2;
      font-size: 16px;
    }
    .carosel_cider{
      top: -18rem;
    }
    .links1{
    left: 0rem;
    font-size: 16px;
    left: 4rem;
    }


  }

