/* .darkblue {
  background-color: #335c7c;
} */
.darkgrey {
  background-color: #0d273e;
}

.grey {
  background-color: #222222;
}

.spacer {
  float: left;
  border-style: solid;
  border-width: 5px;
  clear:both;
}

@font-face {
  font-family: dirtyFont;
  /*  src: url(https://www.dafont.com/dirty-headline.font); */
  src: url("./fonts/DirtyHeadline.ttf");
}

.container fluid {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
}

.home_page {
  padding: 0 !important;
  background-color: #f0e6da;
  display: inline;
  float: left;
  clear:both;
  position: relative;
}

/* HOME CONTENT  */

/* home button btn1 */
Button,
.btn1 {
  font-size: 0.75rem;
  color: #fff;
  width: 107px;
  display: block;
  position: inline;
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
  top: 20rem;
  left: -4rem
}

Button,
.btn1:hover,
Button,
.btn1:active {
  background: #fdfafa;
  border-color: #0d273e;
  color: #0d273e;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1);
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
  padding: 0rem 1rem;
  width: 100px;
  height: 38px;
}

.btn_2 {
  display: flex;
  justify-content: center;

}

Button,
.btn2 {
  font: inherit;
  border: 1px solid #0d273e;
  background: #3f73a2;
  color: white;
  box-shadow: 0 2 12px rgba(0, 0, 0, 0.26);
  padding: 0rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  justify-items: center;
  top: -35rem;
  left: 28.3rem;
  display: block;
  justify-content: center;
  position: relative;
  z-index: 6;
}

.btn2:hover,
.btn2:active {
  background: #3f73a2;
  border-color: #0d273e;
  color: #494848;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1);
  box-shadow: 0 2 8px rgba(0, 0, 0, 0.26);
  padding: 0.2rem 1rem;
  z-index: 6;
}

.container-fluid {
  width: 100vw;
}

.col {
  gap: .5rem;

}

.home_heading {
  display: flex;
  position: relative;
  text-align: left;
  margin-left: 20vw;
  padding-left: 5rem;
  top: 2.5rem;
  font-feature-settings: 16px;
  font-kerning: 16px;
  font-size: 6.5rem;
  color: #f0e6da;
  transform: rotate(350deg);
  animation: Home_Home_slide-in-left__djP6H__7UTLD 4s ease infinite;
}

.heading {
  display: block;
  position: relative;
  text-align: left;
  left: 17rem;
  top: 8rem;
  width: 21rem;
  line-height: 4rem;
  font-feature-settings: 16px;
  font-kerning: 16px;
  font-size: 4rem;
  color: #f0e6da;
  transform: rotate(350deg);
  animation: Home_Home_slide-in-left__djP6H__7UTLD 4s ease infinite;
}


@keyframes bounce-in-right {
  from {
    margin-left: 0px;
  }

  50% {
    margin-left: 100px;
  }
}

/* HERO IMAGE - BOTTLE */
.home_bottle_size {
  display: relative;
  float: right;
  position: relative;
  bottom: 4rem;
  height: 60vh;
  margin-right: 28vw;
  bottom: 0rem;
  animation: Home_bounce-in-right__oq0th 4s ease;
  border-color: red;
  border-width: 3px;
}

.bottle_size {
  display: flex;
  float: right;
  position: relative;
  bottom: 3rem;
  width: 34vw;
  left: 19rem;
  bottom: 0rem;
  animation: Home_bounce-in-right__oq0th 4s ease;
}

@keyframes bounce-in-right {
  from {
    margin-right: 0px;
  }

  50% {
    margin-right: 100px;
  }
}

.cider_element {
  background: #3f73a2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 600px;
  width: 100vw;
  height: 77vh;
}

.torn_banner {
  position: relative;
  top: -32rem;
  z-index: 0;
  width: 100vw;
  height: 75vh;
}

.home_torn_banner {
  position: relative;
  top: -63rem;
  z-index: 0;
  width: 100vw;
}

.tear_1st {
  z-index: 2;
  position: relative;
  top: -7rem;
  width: 100vw;
  height: 85vh;
}

.home_heading2 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  z-index: 2;
  float:left;
  color: black;
  top: -62rem;
}

.home_heading3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  top: -60rem;
  z-index: 2;
  float:left;
  color: black;
}

.heading2 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  top: -20rem;
  z-index: 2;
  float:left;
}

.values {
  width: 57vw;
  height: 22vh;
  z-index: 6;
  top: 4%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 21%;
  top: -40rem;
}

.home_values {
  width: 38vw;
  z-index: 6;
  top: 4%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 31%;
  top: -56rem;
}

.home_tear_2 {
  position: relative;
  width: 100vw;
  top: -80rem;
  z-index: 5;
}

.tear_2 {
  position: relative;
  width: 100vw;
  top: -38rem;
  z-index: 5;
}

/* STATIC PAGE - ABOUT US */

.splash {
  width: 100vw;
  height: 100vh;
}

.home_cream {
  font-size: 4rem;
  position: relative;
  text-align: center;
  margin-top: 260px;
  z-index: 6;
}

.home_cream_h2 {
  font-size: 4rem;
  position: relative;
  text-align: center;
  
  z-index: 6;
}

.links {
  font-family: dirtyFont, cursive;
  font-size: 1.5rem;
  position: relative;
  top: -74rem;
  left: 24rem;
  color: #212529;
  z-index: 6;
}

.react-multi-carousel-list {
  z-index: 6;
}

.carosel_cider {
  background-color: #f0e6da;
  margin-top: 0;
  position: relative;
  top: -12rem;
  width: 100vw;

  z-index: 6;
}

.carousel-list {}

.links1 {
  font-family: dirtyFont, cursive;
  font-size: 1.5rem;
  position: relative;
  top: 1.5rem;
  left: 23rem;
  justify-content: center;
  text-align: center;
  color: #222222;
}

.home_merch_h2 {
  color: #f0e6da;
  font-size: 4rem;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  top: 2rem;
}

.cream_p {
  width: 100%;
  font-weight: 800;
  font-style: bold;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  top: -2rem;
}




.lightblue {
  background-color: #3f73a2;
  width: 100vw;
  padding: 0;
  height: 76vh;
  justify-content: center;
  position: relative;

  z-index: 5;
}

.heading3,
.home_h2 {
  text-align: right;
  margin-top: 1%;
  font-size: 4rem;
  margin-bottom: 10px;
}



/***MEDIA QUERIES*************************************************************************/

/* X Large screens */
@media (max-width:1600px) {

  .home_heading {
    font-size: 6rem;
    margin-left: 10vw;
  }

  .home_bottle_size {
    bottom: 3rem;
    height: 56vh;
    margin-right: 26vw;
    bottom: 0rem;
    animation: Home_bounce-in-right__oq0th 4s ease;
  }

  .home_heading2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    top: -62rem;
    z-index: 2;
    float:left;

  }
  
  .home_values {
    width: 44vw;
    left: 28%;
  }

  .home_torn_banner {
    position: relative;
    top: -60rem;
    z-index: 0;
    width: 100vw;
  }

  .home_tear_2 {
    position: relative;
    width: 100vw;
    top: -75rem;
    z-index: 5;
  }
  
}

/*  .torn_banner {

    height: 100%;
  }

  .heading2 {
    top: -42rem;
  }

  .values {
    width: 41vw;
    left: 29%;
    height: 19vh;
    z-index: 6;

  }

  .home_cream_h2 {
    top: -92rem;
  }

  .btn2 {
    left: 44%;
  }

  .tear_1st {
    top: -6rem;
    height: 100vh;
  }

  .links {
    top: -90rem;
    left: 35rem;
  }

  .links1 {
    left: 39%;
  }
}*/



/* screens up to 1024px */
@media (max-width:1200px) {

  .home_heading {
    font-size: 5rem;
    margin-left: 7vw;
  }

  .home_bottle_size {
    bottom: 3rem;
    height: 48vh;
    margin-right: 22vw;
    bottom: 0rem;
    animation: Home_bounce-in-right__oq0th 4s ease;
  }

  .home_heading2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    top: -62rem;
    z-index: 2;
    float:left;
    color: black;
  }
  
  .home_values {
    width: 48vw;
    left: 26%;
  }

  .home_torn_banner {
    position: relative;
    top: -53rem;
    z-index: 0;
    width: 100vw;
  }

  .home_tear_2 {
    position: relative;
    width: 100vw;
    top: -65rem;
    z-index: 5;
  }
  
}



/* screens up to 960px */
@media (max-width:960px) {
  .home_heading {
    font-size: 4rem;
    margin-left: 5vw;
  }

  .home_bottle_size {
    bottom: 3rem;
    height: 48vh;
    margin-right: 20vw;
    bottom: 0rem;
    animation: Home_bounce-in-right__oq0th 4s ease;
  }

  .home_heading2 {
    font-size: 3.8rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    top: -62rem;
    z-index: 2;
    float:left;
    color: black;
  }

  .home_heading3 {
    font-size: 2.2rem;
    width: 100vw;
    top: -60rem;
    z-index: 2;
    float:left;
    color: black;
  }
  
  .home_values {
    width: 50vw;
    left: 25%;
  }

  .home_torn_banner {
    position: relative;
    top: -46rem;
    z-index: 0;
    width: 100vw;
  }

  .home_tear_2 {
    position: relative;
    width: 100vw;
    top: -50rem;
    z-index: 5;
  }
  
}
/*  .bottle_size {
    left: 12rem;
  }

  .tear_bottom {
    top: 2rem;
  }

  .links1 {
    left: 33%;
  }

  .values {
    width: 75%;
    margin: 0;
    height: 15vh;
    left: 12%;
  }

  .home_cream_h2 {
    left: 9rem;
  }
}*/



/* screens up to 768px */
@media (max-width:768px) {

  .home_heading {
    font-size: 2.5rem;
    margin-left: 1vw;
  }

  .home_bottle_size {
    bottom: 3rem;
    height: 44vh;
    margin-right: 18vw;
    bottom: 0rem;
    animation: Home_bounce-in-right__oq0th 4s ease;
  }

  .home_heading2 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    top: -55rem;
    z-index: 2;
    float:left;
  }

  .home_heading3 {
    font-size: 1.5rem;
    width: 100vw;
    top: -52rem;
    z-index: 2;
    float:left;
    color: black;
  }
  
  .home_values {
    width: 52vw;
    left: 24%;
    top: -49rem;
  }

  .tear_1st {
    z-index: 2;
    position: relative;
    top: -7rem;
    width: 100vw;
    height: 70vh;
  }

  .home_torn_banner {
    position: relative;
    top: -42rem;
    z-index: 0;
    width: 100vw;
  }

  .home_tear_2 {
    position: relative;
    width: 100vw;
    top: -48rem;
    z-index: 5;
  }
  
}
/*  .heading {
    width: 60%;
    left: 2rem;
    font-size: 3.5rem;
    line-height: 61px;
  }

  .bottle_size {
    left: -3rem;
  }

  .tear_bottom {
    top: 0rem;
  }
}*/




/* smaller screens up to 460px */
@media (max-width: 460px) {

  .home_heading {
    font-size: 3rem;
    margin-left: 0vw;
  }

  .home_bottle_size {
    bottom: 3rem;
    height: 38vh;
    margin-right: 16vw;
    bottom: 0rem;
    animation: Home_bounce-in-right__oq0th 4s ease;
  }

  .home_heading2 {
    font-size: 2rem;
  }
  
  .home_values {
    width: 40vw;
    left: 30%;
  }

  .tear_1st {
    z-index: 2;
    position: relative;
    top: -7rem;
    width: 100vw;
    height: 80vh;
  }

  .home_torn_banner {
    position: relative;
    top: -42rem;
    z-index: 0;
    width: 100vw;
  }

  .home_tear_2 {
    position: relative;
    width: 100vw;
    top: -45rem;
    z-index: 5;
  }
  
}

  /*  .heading {
    left: 3rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    top: 3rem;

  }

  .bottle_size {
    width: 50%;
    top: -3rem;
    margin-right: -2rem;
  }

  .btn2 {
    left: 10rem;
    top: -24rem;
  }

  .cider_element {
    height: 70vh;
    top: 1rem;
    margin-top: -2rem;
  }

  .home_cream_h2 {
    font-size: 3rem;
    width: 100vw;
    margin-top: 22rem;
  }

  .links {
    left: 29%;
    font-size: 1rem;
  }

  .heading2 {
    text-align: center;
    top: -25rem;
    font-size: 2.5rem;
  }

  .values {
    left: 5.2rem;
    top: -26rem;
    width: 60%;
    height: 10vh;
  }

  .torn_banner {
    top: -27rem;
  }

  .tear_2 {
    top: -36rem;
  }

  .splash {
    height: 31vh;
  }

  .carosel_cider {
    top: 1rem;
  }

  .home_cream_h2 {
    left: 0;
    top: -75rem;
  }

  .links1 {
    left: 76px;
  }
}*/

