.merch_main {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: #222222;
}

.merch_main {
  flex-wrap: wrap;
  width: 100vw;
  margin: 0;
  justify-content: center;
}

.merch_cup, .cup {
  position: relative;
  left: 10%;
  max-width: 70%;
}

.merch_heading, .merch_h1 {
  position: relative;
  margin-top: 16%;
  margin-left: 20px;
  left: 10%;
  width: 18vw;
  font-size: 4rem;
}

.merch_h1, .title_h1 {
  font-size: 4rem;
}



@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1080px) {}

@media screen and (max-width: 760px) {}