.darkblue {
  background-color: #335c7c;
}
.darkgrey {
  background-color: #0d273e;
}
.grey {
  background-color: #222222;
}
.lightblue {
  background-color: #3f73a2;
}
.bottle_size {
  height: 300px;
}
.cider_element {
  float: left;
}
