.merch {
  margin: 1rem;
  padding: 1rem;
  background-color: #0d273e;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
  height: 620px;
  width: 20vw;
  margin-left: 10vw;
  float: left;
}

.merch h2 {
  font-size: 2.1rem;
  color: #f7e702;
}

.merch h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1.5rem;
}

.imageSize {
  height: auto;
  max-width: 240px;
  margin-bottom: 20px;
  /* max-height: 100%;
  width: auto; */
}


@media screen and (max-width: 1680px) {
  .merch {
    width: 33vw;
    margin-left: 11vw;
  }
}

@media screen and (max-width: 1400px) {
  .merch {
    width: 33vw;
    margin-left: 11vw;
  }
}

@media screen and (max-width: 1080px) {
  .merch {
    width: 50vw;
    margin-left: 25vw;
  }
}

@media screen and (max-width: 760px) {
  .merch {
    width: 76vw;
    margin-left: 12vw;
  }
}