.merch {
    margin: 1rem;
    padding: 1rem;
    background-color: #3f73a2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: white;
  }
  
  .merch h2 {
    font-size: 2rem;
    color: #f7e702;
  }
  
  .merch h3 {
    color: #eccf77;
    margin: 0;
    font-size: 1rem;
  }
  
  .imageSize {
    height: 200px;
    width: 200px;
  }