.footer {
  background-color: #3f73a2;
  color: #f0e6da;
  text-align: center;
  width: 100%;
  height: auto;
  clear: both; 
}

.footerPara {
  text-align: center;
}

.card {
  background-color: #f0e6da;
  margin: 0.5em;
}

.card li {
  margin: 10px;
}

.disclaimer {
  font-size: 0.8rem;
}

.authors {
  font-size: 0.8rem;
  font-style: italic;
}

.heading1 {
  text-align: center;
}
