.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #335c7c;
  color: white;
  padding: 0.75rem 3rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  font-weight: bold;
  height: 100%;
  margin-left: 43%;
  margin-top: 0%;
}

.button:hover,
.button:active {
  background-color: #222222;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #3f73a2;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;

}

.button:hover .badge,
.button:active .badge {
  background-color: #335c7c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}


/* Extra large devices (large desktops, 1240px and up) */
@media (min-width: 1200px) {
  .button{
    margin-left: 140%;

  }

}
/* max device 729px ) */
@media (max-width: 768px) {
  .button{
    margin-left: 10%;
  }
}
