.header {

  width: 100%;
  height: auto;
  max-height: 1rem;
  display: flex;
  padding: 0% 16%;
  justify-content: space-between;
  align-items: center;
  background-color: #3f73a2;
  color: #f0e6da;
  margin-top: 9%;
}


.logo {
  height: 95%;
  max-height: 100px;
  width: auto;
  margin-top: -19%;
  margin-left: 40%;
  margin-right: 0;
  display: flex;

}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0% 0 0 -47%;
  margin-top: 8%;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
  font-family: dirtyFont, sans-serif;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}

.pig_logo {
  height: 95%;
  max-height: 100px;
  width: auto;
  z-index: 2;
  display: flex;
  margin-top: -13%;
  margin-left: 38%;
}

/* Extra large devices (large desktops, 1240px and up) */
@media (min-width: 1200px) {
  .header{
    margin-top: 8%;
  }
  .pig_logo {
    margin-top: -6%;
  }
}



/* max device 729px ) */
@media (max-width: 768px) {
  .header{
      width: 150%;

    }

    .pig_logo {
      margin-top: -2%;
    }

    .nav ul {
      margin-top: 20%;
    }
  }
