.header {
  width: 50vw;
  height: auto;
  max-height: 100px;
  max-height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f73a2;
  color: #f0e6da;
  margin-top: 11vh;


}

.logo {
  height: 95%;
  max-height: 100px;
  margin-top: -19%;
  margin-left: 50vw;
  margin-right: 0;
  display: flex;
}


.nav ul {
  list-style: none;
  display: flex;
  /*  margin: 0% 0 0 -4%; 
*/
  margin-top: 12vh;
  text-align: center;
  margin-left: 10vw;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  z-index: 2;
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
  font-family: dirtyFont, sans-serif;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e6fcfc;
}

.pig_logo {
  height: 95%;
  max-height: 100px;
  width: auto;
  z-index: 1;
  display: flex;
  margin-top: -9vh;
  margin-left: 45%;
  position: absolute;
}


@media screen and (max-width: 760px) {
  .nav ul {
    text-align: center;
    display: inline-block;
    margin-left: 33vw;
    margin-top: 10vh;
    position: flex;
  }

  .pig_logo {
    margin-left: 1vh;
  }


}